<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TaiwanArtion.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>97D669F12A0C6C3600A25935</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>97D66A072A0C6C3800A25935</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>97D66A112A0C6C3800A25935</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
