<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>57281493334-k0a21sdes9c3lpbmkpkr9tovetlkdrav.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.57281493334-k0a21sdes9c3lpbmkpkr9tovetlkdrav</string>
	<key>API_KEY</key>
	<string>AIzaSyDzL0R5moPhqbdC_2T7fUIqA9yAh0PRilM</string>
	<key>GCM_SENDER_ID</key>
	<string>57281493334</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mj.TaiwanArtion</string>
	<key>PROJECT_ID</key>
	<string>test-project-7c170</string>
	<key>STORAGE_BUCKET</key>
	<string>test-project-7c170.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:57281493334:ios:7e7ab3a78089ab98827ef7</string>
</dict>
</plist>